<div class="container">
    <form id="form2">
        <div class="row">
            <input type="text" name="name" id="name" class="col-md-2" placeholder="Name">

            <input type="text" name="lastname" id="lastname" class="col-md-2" placeholder="Lastname">

            <input type="text" name="employeeNr" id="employeeNr" class="col-md-2" placeholder="Employee number">

            <input type="text" name="datoDel" id="datoDel" class="col-md-2" placeholder="Dato for delivery"><!-- gør det automatisk -->
        </div>

        <div class="row">
            <input type="text" name="address" id="address" class="col-md-4" placeholder="Address">

            <input type="text" name="by" id="by" class="col-md-4" placeholder="Signed by">
        </div>

        <div class="row">
            <input type="text" name="postalNr" id="postalNr" class="col-md-2" placeholder="Postal code">

            <input type="text" name="city" id="city" class="col-md-2" placeholder="City">

            <input type="text" name="team" id="team" class="col-md-2" placeholder="Team">

            <input type="text" name="datoAns" id="datoAns" class="col-md-2" placeholder="Date answer"><!-- skal være tom -->
        </div>

        <div class="row">
            <input type="text" name="vacaDate" id="vacaDate" class="col-md-4" placeholder="Vacation date">

            <input type="text" name="weekNr" id="weekNr" class="col-md-4" placeholder="Week number">
        </div>

        <div class="row">
            <input type="text" name="trade" id="trade" class="col-md-2" placeholder="Trade">
            <label for="approved" class="col-md-2">Approved</label>
            <input type="checkbox" name="approved" id="approved" class="col-md-1">

            <label for="trading" class="col-md-2">Want to trade</label>
            <input type="checkbox" name="trading" id="trading" class="col-md-1">
        </div>
        <div class="row" style="margin-top: 5px">
            <textarea name="comments" class="col-md-4" placeholder="Other comments.." style="border-radius: 5px; border:1px solid #ccc;"></textarea>
        </div>

        <div class="row">
            <input type="submit" name="submit" class="btn btn-primary" style="margin-top: 20px">
        </div>
    </form>

</div>
