<div class="container">
    <h1>Frihedsansøgninger</h1>
    <h2>{{user}}</h2>
    <h3>Liste over frihedsansøgninger:</h3>
    <ul>
        {{#each applications}}
            team: {{team}}, type: {{type}}, date: {{date}}
            <br>
        {{/each}}
    </ul>
</div>
