<div class="container-fluid">
    <h1 style="text-align: center">My applications</h1>

    <div class="container col-md-7">
        <ul class="well apps">
            {{#each applications}}
                Date: {{vacaDate}}
                <br>
            {{/each}}
        </ul>
    </div>
    <div class="container col-md-5 collapse">

        <ul class="well">
            {{#each applications}}
                  Date: {{vacaDate}}
                <br>
            {{/each}}
        </ul>
    </div>

</div>