<div>
    <form id="form1">
        <input type="text" id="username" value={{username}} placeholder="Username">
        <input type="text" id="date" placeholder="Date">
        <input type="submit" id="submits" value="Submit">
    </form>
</div>

<div>
    <textarea>
        {{tArea}}
    </textarea>
</div>