main{
    background-color:#91cdf2;

}
h1{
  font-family: "Verdana";
}
#password{
    margin-top: 20px;

}
/*.wrapper{*/
    /*text-align:center;*/
/*}*/

#Login{

    border-radius:10px;
    padding:5px;
    width:175px;
    margin-top:4px;
    margin-bottom:120px;
}